html, body, #app{
  width: 100%; 
  height:100%; 
  overflow:hidden; 
}
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}

#view-home{
  left:0px;
  right:0px;
  bottom: 0px;
  position: absolute;
}

.page:not(#navbar) {
  padding: 35px;
  background-color: #ecf0f5;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box{
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  border-top-color: #2894ee;
  border-top-width: 4px;
  flex-grow: 1;
}

.boxheader{
  text-align: center;
  padding: 15px;
  font-size: 18px;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

.boxcontent{
  padding: 35px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #2894ee;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #185a91;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #2894ee;
  text-decoration: none;
  margin-left: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
}

.header{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}


.overviewgrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.overviewbox{
  border-style: solid;
  border-width: 1px;
  border-color: #1c2529;
  height: 120px;
  border-radius: 1%;
}

.overviewbox:hover{
  border-color: #2894ee;
  cursor: pointer;
}

.overviewpics{
  width:75px;
  height:75px;
  margin-left:15px;
  float: left;
  margin-top: 25px;
}

.overviewtext{
  float:left;
  margin-left: 25px;
  font-weight: bold;
  font-size: 32px;
  color:white;
  margin-top: 15px;
}

.outline{
  border-width: 1px !important;
  border-style: solid !important;
  padding: 4px !important;
  margin-bottom: 15px !important;
}

.btn{
  text-transform: uppercase;
  outline: 0;
  background: #2894ee;
  width: 25%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-bottom: 15px;
}

.btn:hover,.btn:active,.btn:focus {
  background: #185a91;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 15px;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #b9e0ff;
}

.inspectbtn{
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: #2894ee;
  color: white;
  text-align: center;
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  width: 115px;
  display: block;
}

.noSelect{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.ticketgrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 25px;
}

.ticketstyle{
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

.posterinfo{
  border-right-style: unset;
  text-align: center;
  background-color: #2894ee;
  color: whitesmoke;
  border-color: black;
}

.span-col-5{
  grid-column: span 5 / auto;
  padding-left: 15px;
}
